ad3==2.2.dev0
aiohttp==3.0.9
alabaster==0.7.10
allennlp===0.5.0-unreleased
anaconda-client==1.6.5
anaconda-navigator==1.6.9
anaconda-project==0.8.0
argh==0.26.2
asn1crypto==0.22.0
astroid==1.5.3
astropy==2.0.2
async-timeout==2.0.1
attrs==17.4.0
autocorrect==0.3.0
awscli==1.14.51
Babel==2.5.0
backports.csv==1.0.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
bleach==2.0.0
bokeh==0.12.10
boto==2.48.0
boto3==1.5.36
botocore==1.9.4
Bottleneck==1.2.1
bz2file==0.98
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
cheroot==6.1.2
CherryPy==14.0.1
click==6.7
cloudpickle==0.4.0
clyent==1.2.2
codecov==2.0.15
colorama==0.3.7
conda==4.4.7
conda-build==3.0.27
conda-verify==2.0.0
contextlib2==0.5.5
cookies==2.2.1
coverage==4.5.1
cryptography==2.0.3
cycler==0.10.0
cymem==1.31.2
Cython==0.26.1
cytoolz==0.8.2
dask==0.15.3
datashape==0.5.4
decorator==4.1.2
dill==0.2.7.1
distributed==1.19.1
docutils==0.14
editdistance==0.4
en-core-web-sm==2.0.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
feedparser==5.2.1
filelock==2.0.12
flaky==3.4.0
Flask==0.12.1
Flask-Cors==3.0.3
ftfy==4.4.2
future==0.16.0
gender-guesser==0.4.0
gensim==3.3.0
gevent==1.2.2
glob2==0.5
gmpy2==2.0.8
greenlet==0.4.12
gspread==0.6.2
h5py==2.7.0
heapdict==1.0.0
html5lib==0.999999999
httplib2==0.10.3
hunspell==0.5.4
idna==2.6
idna-ssl==1.0.1
imageio==2.2.0
imagesize==0.7.1
ipdb==0.10.3
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
lazy-object-proxy==1.3.1
line-profiler==2.1.2
livereload==2.5.1
llvmlite==0.20.0
locket==0.2.0
lxml==4.1.0
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
mistune==0.7.4
more-itertools==4.1.0
mpmath==0.19
msgpack-numpy==0.4.1
msgpack-python==0.4.8
multidict==4.1.0
multipledispatch==0.4.9
murmurhash==0.28.0
mwclient==0.8.7
mwparserfromhell==0.5
mypy==0.521
mysqlclient==1.3.12
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.4
nose==1.3.7
notebook==5.0.0
num2words==0.5.6
numba==0.35.0+10.g143f70e90
numexpr==2.6.2
numpy==1.13.3
numpydoc==0.7.0
oauth2client==4.1.2
oauthlib==2.0.6
odo==0.5.1
olefile==0.44
openpyxl==2.4.8
overrides==1.9
packaging==16.8
pandas==0.20.3
pandocfilters==1.4.2
partd==0.3.8
path.py==10.3.1
pathlib==1.0.1
pathlib2==2.3.0
pathtools==0.1.2
patsy==0.4.1
Pattern==2.6
pdfminer.six==20170720
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pkginfo==1.4.2
plac==0.9.6
ply==3.10
port-for==0.3.1
portend==2.2
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.5.2
psutil==5.4.0
psycopg2==2.7.4
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycocotools==2.0
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.6.0
pycurl==7.43.0
pyenchant==2.0.0
pyflakes==1.6.0
Pygments==2.2.0
pyhocon==0.3.35
pylint==1.8.1
pyodbc==4.0.17
pyOpenSSL==17.2.0
pypandoc==1.4
pyparsing==2.2.0
PySocks==1.6.7
pytest==3.2.1
pytest-cov==2.5.1
pytest-pythonpath==0.7.2
python-dateutil==2.6.1
python-docx==0.8.6
pytz==2017.3
PyWavelets==0.5.2
pywikibot==3.0.dev0
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
regex==2017.4.5
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
responses==0.8.1
rope==0.10.5
rsa==3.4.2
ruamel-yaml==0.11.14
s3transfer==0.1.13
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==0.19.1
seaborn==0.8
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.5.6
snowballstemmer==1.2.1
sortedcontainers==1.5.9
spacy==2.0.6
Sphinx==1.5.3
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
spyder==3.2.4
SQLAlchemy==1.1.13
statsmodels==0.8.0
sympy==1.1.1
tables==3.4.2
tblib==1.3.2
tempora==1.11
tensorboardX==1.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
thinc==6.10.2
toolz==0.8.2
torch==0.3.1
torchvision==0.2.0
tornado==4.5.2
tqdm==4.19.4
traitlets==4.3.2
twine==1.11.0
typed-ast==1.0.4
typing==3.6.2
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.0.22
urllib3==1.22
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.2
wikitextparser==0.20.0
wrapt==1.10.11
xarray==0.10.2
xgboost==0.71
xlrd==1.1.0
XlsxWriter==1.0.2
xlwt==1.3.0
yarl==1.1.1
zict==0.1.3
